h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  line-height: 29.26px;
  color: #1f2141;
}

h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 19px;
  line-height: 23.16px;
  color: #1f2141;
}

h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 14.63px;
  color: #1f2141;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: rgba(31, 33, 65, 0.5);
}

.UIKit-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  gap: 126px;
  margin-top: 143px;
  margin-right: 141px;
  margin-bottom: 131px;
  margin-left: 140px;
}

.UIKit-container__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.text_field {
  width: 320px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(31, 33, 65, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_field input {
  outline: 0;
  border: none;
  width: 290px;
  font-family: 'Montserrat';
  margin-left: 15px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: rgba(31, 33, 65, 0.75);
}

.text_field input::-webkit-input-placeholder {
  color: rgba(31, 33, 65, 0.25);
}

.text_field:hover {
  border: 1px solid rgba(31, 33, 65, 0.5);
}

.dropdown {
  width: 320px;
  height: 44px;
}

.dropdown__list {
  top: 2.5rem;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  max-height: 10rem;
  overflow-y: auto;
  border-radius: 0 0 4px 4px;
  z-index: 2;
  background-color: #fff;
  opacity: 0;
}

.dropdown__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border: 1px solid rgba(31, 33, 65, 0.25);
  width: 100%;
  height: 44px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 24px;
  padding-left: 15px;
  padding-right: 0;
  padding-top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Montserrat';
  color: rgba(31, 33, 65, 0.75);
}

.dropdown__button:focus ~ .dropdown__list {
  opacity: 1;
}

.dropdown__button:after {
  content: '';
  width: 44px;
  height: 44px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: url("../img/expand_more.svg") no-repeat;
  background-position: center;
}

.masked_text_field {
  width: 320px;
  height: 44px;
  border-radius: 4px;
  border: 1px solid rgba(31, 33, 65, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
}

.masked_text_field input[type=date] {
  text-transform: uppercase;
  outline: 0;
  border: none;
  width: 290px;
  font-family: 'Montserrat';
  margin-left: 15px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  color: rgba(31, 33, 65, 0.25);
}

.masked_text_field input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.masked_text_field:hover {
  border: 1px solid rgba(31, 33, 65, 0.5);
}

.date_dropdown {
  width: 150px;
  height: 44px;
}

.filter_date_dropdown {
  width: 320px;
  height: 44px;
}

.subscription_text_field_btn {
  border: none;
  content: '';
  width: 44px;
  height: 44px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: url("../img/arrow_forward.svg") no-repeat;
  background-position: center;
}

.checkbox_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.checkbox_buttons .label_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkbox_buttons .label_checkbox .text {
  margin-left: 10px;
}

.checkbox_buttons .label_checkbox .fake_1 {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 33, 65, 0.25);
  border-radius: 4px;
  background-position: center;
}

.checkbox_buttons .label_checkbox .fake_2 {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #BC9CFF;
  border-radius: 4px;
  background: url("../img/Vector.svg") no-repeat;
  background-position: center;
  opacity: 0;
}

.checkbox_buttons .label_checkbox input {
  z-index: -1;
  opacity: 0;
}

.checkbox_buttons .label_checkbox input:checked ~ .fake_2 {
  opacity: 1;
}

.radio_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

.radio_buttons__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio_buttons__item .text {
  margin-left: 10px;
}

.radio_buttons__item .fake_1 {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid rgba(31, 33, 65, 0.25);
  border-radius: 100%;
  background-position: center;
}

.radio_buttons__item .fake_2 {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #BC9CFF;
  border-radius: 100%;
  background-position: center;
  opacity: 0;
}

.radio_buttons__item .fake_2::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-position: center;
  opacity: 0;
}

.radio_buttons__item input {
  opacity: 0;
}

.radio_buttons__item input:checked ~ .fake_2 {
  opacity: 1;
}

.radio_buttons__item input:checked ~ .fake_2::after {
  opacity: 1;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.toggle .inactive .border {
  content: '';
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 33, 65, 0.25);
  border-radius: 50px / 50px;
}

.toggle .inactive .round {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: rgba(31, 33, 65, 0.25);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

.toggle .active .border {
  content: '';
  width: 40px;
  height: 20px;
  border: 1px solid #BC9CFF;
  border-radius: 50px / 50px;
}

.toggle .active .round {
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(24px, 4px);
          transform: translate(24px, 4px);
}

.toggle .text {
  width: 210px;
  margin-left: 10px;
}

.like_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.like_button .inactive .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 33, 65, 0.25);
  border-radius: 50px / 50px;
}

.like_button .inactive .border .digit {
  font-size: 10px;
  color: rgba(31, 33, 65, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2px;
}

.like_button .inactive .border .pic {
  background: url("../img/favorite_border.svg") no-repeat;
  width: 20px;
  height: 20px;
  background-position: center;
}

.like_button .active .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: '';
  width: 40px;
  height: 20px;
  border: 1px solid #BC9CFF;
  border-radius: 50px / 50px;
}

.like_button .active .border .digit {
  font-size: 10px;
  color: #BC9CFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2px;
}

.like_button .active .border .pic {
  background: url("../img/like.svg") no-repeat;
  width: 20px;
  height: 20px;
  background-position: center;
}

.rate_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rate_button .inactive {
  background: url("../img/star_border.svg") no-repeat;
  width: 24px;
  height: 24px;
  background-position: center;
}

.rate_button .active {
  background: url("../img/star.svg") no-repeat;
  width: 24px;
  height: 24px;
  background-position: center;
}

.range__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 266px;
  height: 47.5px;
}

.range__price {
  width: 102px;
  height: 15px;
  width: 102px;
  height: 15px;
  left: 1125.74px;
  top: 143px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
}

.range__text {
  width: 95px;
  height: 15px;
}

.range__middle {
  position: relative;
  width: 100%;
  height: 12px;
  margin-top: 20px;
}

.range__slider input {
  width: 100%;
  margin: 0;
}

.range__slider input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 7;
  height: 6px;
  width: 100%;
  opacity: 0;
}

.range__slider input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 13px;
  height: 13px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}

.range__slider .slider {
  position: relative;
  z-index: 1px;
  height: 6px;
}

.range__slider .slider .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid rgba(31, 33, 65, 0.25);
}

.range__slider .slider .range {
  position: absolute;
  z-index: 2;
  left: 33%;
  right: 33%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.range__slider .slider .thumb {
  position: absolute;
  z-index: 3;
  width: 12px;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #FFFFFF;
  border-radius: 10px;
}

.range__slider .slider .left {
  left: 33%;
  -webkit-transform: translate(-7px, -5px);
          transform: translate(-7px, -5px);
}

.range__slider .slider .right {
  right: 33%;
  -webkit-transform: translate(7px, -5px);
          transform: translate(7px, -5px);
}

.button_container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: ()[2];
      grid-template-columns: repeat(2);
  gap: 10px;
}

.button_click-classic {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
}

.button_click-classic::after {
  content: 'CLICK ME';
  color: #FFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.button_click-light {
  width: 99px;
  height: 44px;
  border-radius: 22px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  color: #FFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  opacity: 0.5;
}

.button_click-border {
  width: 99px;
  height: 44px;
  border-radius: 100rem;
  color: #BC9CFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  border: solid 2px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, #bc9cff, #8ba4f9);
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #fff inset;
          box-shadow: 2px 1000px 1px #fff inset;
  -webkit-transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.button_click-light_border {
  width: 99px;
  height: 44px;
  border-radius: 100rem;
  color: #BC9CFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  border: solid 2px transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, 0.5)), to(rgba(139, 164, 249, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(180deg, rgba(188, 156, 255, 0.5), rgba(139, 164, 249, 0.5));
  background-origin: border-box;
  background-clip: content-box, border-box;
  -webkit-box-shadow: 2px 1000px 1px #fff inset;
          box-shadow: 2px 1000px 1px #fff inset;
  -webkit-transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out, -webkit-box-shadow .3s ease-in-out;
}

.button_click-without_border_purple {
  background: #FFFF;
  width: 61px;
  height: 15px;
  border: none;
  color: #BC9CFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 0;
}

.button_click-without_border_gray {
  background: #FFFF;
  width: 61px;
  height: 15px;
  border: none;
  color: rgba(31, 33, 65, 0.5);
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 0;
}

.button_click-classic_long {
  position: relative;
  width: 320px;
  height: 44px;
  border-radius: 22px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  color: #FFFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  padding: 0;
  -ms-grid-column: 3;
  -ms-grid-column-span: -2;
  grid-column: 3 / 1;
}

.button_click-classic_long::after {
  position: absolute;
  -webkit-transform: translate(113%, -32%);
          transform: translate(113%, -32%);
  border: none;
  content: '';
  width: 44px;
  height: 44px;
  background: url("../img/arrow_forward_whight.svg") no-repeat;
  background-position: center;
}

.pagination_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.pagination ul li {
  height: 40px;
  width: 40px;
  line-height: 40px;
  list-style: none;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  cursor: pointer;
}

.pagination ul .btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(180deg, #6FCF97, #66D2EA);
  border-radius: 22px;
  line-height: 50px;
}

.pagination ul .numb {
  height: 40px;
  width: 40px;
}

.pagination ul .active {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF, #8BA4F9);
  border-radius: 22px;
  color: #FFFF;
}
/*# sourceMappingURL=style.css.map */