doctype html
html(lang="ru") 
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Cards
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.css")
        script(defer src="js/Cards.js")
        script(defer src="js/FormElements.js")
    body
      #hotel-filter.popup
        .popup__container 
          h1.popup__title Найдём номера под ваши пожелания
          .popup__date
            .popup__arrival
              .text
                h3 прибытие
              .date
                button.dropdown__button ДД.ММ.ГГГГ
            .popup__exit
              .text
                h3 выезд
              .date
                button.dropdown__button ДД.ММ.ГГГГ
          .popup__guests
            .text
              h3 гости
            .guests-numbers
              .dropdown 
                button(type="button").dropdown__button Сколько гостей
                
          button.button_click-classic_long.popup__btn подобрать номер

      #room-booking.popup 
        .popup__container
          .popup__top 
            .popup__num-info
              .popup__num
                .popup__num-symbol №
                .popup__num-room 888
              .popup__type-room люкс
            .popup__price
              .popup__price-room 9 990₽
              .popup__price-period &nbspв сутки
          .popup__date
            .popup__arrival
              .text
                h3 прибытие
              .date
                button.dropdown__button 19.08.2019
            .popup__exit
              .text
                h3 выезд
              .date
                button.dropdown__button 23.08.2019
          .popup__guests
            .text
              h3 гости
            .guests-numbers
              .dropdown 
                button(type="button").dropdown__button Сколько гостей
          .popup__price-details
            .popup__price-num-days
              span.popup__price-room 9 990₽
              span  x 
              span.popup__number-of-days 4
              span.popup__title-days  суток
            .popup__price-num-days-amount 39 960₽
            .popup__sale 
              .popup__title-sale Сбор за услуги: скидка
              .popup__sum-sale &nbsp 2 179₽
            .popup__info-sale
              a(href="#") 
                img.logo(src="img/info.svg")
            .popup__sale-amount 0₽
            .popup__additional-services-title Сбор за дополнительные услуги
            .popup__info-sale
              a(href="#") 
                img.logo(src="img/info.svg")
            .popup__additional-services-amount 300₽
          
          .popup__full-price
            h2.title Итого
            .line 
            h2.sum 38 081₽
                
          button.button_click-classic_long.popup__btn забронировать

      #account-registration.popup
        .popup__container
          h1.popup__title Регистрация аккаунта
          .text_field.popup__name
            input(type="text" placeholder="Имя")
          .text_field.popup__surname
            input(type="text" placeholder="Фамилия")
          .radio_buttons.popup__sex
            label.radio_buttons__item
              input(type="radio")
              .fake_1
              .fake_2 
              .text Мужчина
            label.radio_buttons__item
              input(type="radio")
              .fake_1
              .fake_2 
              .text Женщина
          .popup__date-birth
            h3.text дата рождения
            .masked_text_field
              input(type="date")
          .popup__login-information
            h3.text данные для входа в сервис
            .text_field.popup__email
              input(type="text" placeholder="Email")
            .text_field.popup__password
              input(type="text" placeholder="Пароль")
          label.toggle.popup__special-offers
            .inactive
              .border
                .round
            .text Получать спецпредложения
          button.button_click-classic_long.popup__btn перейти к оплате
          .popup__sign-in
            .text Уже есть аккаунт на Toxin
            button#login.popup__signin.button_click-border Войти
            



