doctype html
html(lang="ru") 
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Headers&Footers
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="css/style.css")
        script(defer src="js/Headers&Footers.js")
    body
        header.header 
          .header__container
            a(href="#") 
              img.logo(src="img/Logo.svg")
            nav.main-nav.header__center
              ul.main-nav__list 
                li.main-nav__item
                  a.main-nav__link(href="#") О нас
                li.main-nav__item
                  button.main-nav__dropdown_btn Услуги
                li.main-nav__item
                  a.main-nav__link(href="#") Вакансии
                li.main-nav__item
                  a.main-nav__link(href="#") Новости
                li.main-nav__item
                  button.main-nav__dropdown_btn Соглашения
            button#login.main-nav__btn-sighin.button_click-border Войти
            button#signup.main-nav__btn-sighup.button_click-classic зарегистрироваться

        footer.footer 
          .footer__container
            ul.footer__list 
              li.footer__item 
                a(href="#") 
                  img.logo(src="img/Logo.svg")
                span Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
              li.footer__item
                ul.footer-sublist
                  h3 навигация
                  li.footer-sublist_item 
                    a.footer-sublist__link(href="#") О нас
                  li.footer-sublist_item 
                    a.footer-sublist__link(href="#") Новости
                  li.footer-sublist_item 
                    a.footer-sublist__link(href="#") Служба поддержки
                  li.footer__sublist_item 
                    a.footer-sublist__link(href="#") Услуги
              li.footer__item
                ul.footer-sublist
                  h3 о нас
                  li.footer-sublist_item 
                    a.footer-sublist__link(href="#") О сервисе
                  li.footer-sublist_item 
                    a.footer-sublist__link(href="#") Наша команда
                  li.footer-sublist_item 
                    a.footer-sublist__link(href="#") Вакансии
                  li.footer__sublist_item 
                    a.footer-sublist__link(href="#") Инвесторы
              li.footer__item
                ul.footer-sublist
                  h3 Служба поддержки
                  li.footer-sublist_item 
                    a.footer-sublist__link(href="#") Соглашения
                  li.footer-sublist_item 
                    a.footer-sublist__link(href="#") Сообщества
                  li.footer-sublist_item 
                    a.footer-sublist__link(href="#") Связь с нами
                  li.footer__sublist_item 
                    a.footer-sublist__link(href="#") Инвесторы
                li.footer__item
                  h3 Подписка
                  span Получайте специальные предложения и новости сервиса
                  .subscription_text_field.text_field
                    input(type="text" placeholder='Email')
                    button.subscription_text_field_btn(type='button')
          .footer__border
          .footer__container
            .copyright-bar
              span Copyright © 2018 Toxin отель. Все права защищены.
              ul.footer__social-networks 
                li.footer__social-networks_item
                  a(href="#") 
                    img.logo(src="img/twitter.svg")
                li.footer__social-networks_item
                  a(href="#") 
                    img.logo(src="img/facebook.svg")
                li.footer__social-networks_item
                  a(href="#") 
                    img.logo(src="img/inst.svg")

        footer.footer-mobile
          a(href="#") 
              img.logo(src="img/Logo.svg")
          span.footer-mobile__copyright-bar Copyright © 2018 Toxin отель. Все права защищены.
          ul.footer-mobile__social-networks 
                li.footer__social-networks_item
                  a(href="#") 
                    img.logo(src="img/twitter.svg")
                li.footer__social-networks_item
                  a(href="#") 
                    img.logo(src="img/facebook.svg")
                li.footer__social-networks_item
                  a(href="#") 
                    img.logo(src="img/inst.svg")
